language: java
jdk:
  - oraclejdk8

sudo: required
dist: trusty

# cache gradle dependencies
# https://docs.travis-ci.com/user/languages/java#Caching
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
after_success:
  - ./gradlew coveralls
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/